{% extends "base.html" %}

{% load static %}
{% block content %}
<div>
    <h1>Recipes for You</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'css/images/home_page.jpg' %}" alt="Woman cooking" id="img-home">
        </div>
        <div class="col-md-6">
            <p id="home-txt">Welcome to this recipe page, where I will show you some of my favourite recipes. As someone who doesn't have a lot of time to come up with new exiting things to eat everyday and also don't have the time to cook for a long period of time, I wanted to make someones day a little easier with this quick and easy, but also very tasty, recipes. Hope you will try some of these and feel free to leave a comment if you'd like.</p>
        </div>
    </div>
</div>

{% endblock %}